body{
    color:white;
    background-image:url("https://mcdn.wallpapersafari.com/medium/52/73/IM4phV.web");
    background-size:cover;
    text-align:center;
    font-family:'Orbitron',sans-serif;
}
#main-logo{
    width:100px;
}

.apply-button{
    padding:6px 12px;
    background:white;
    border:none;
    font-family:'Orbitron',sans-serif;

}
.underline{
    border-bottom:4px solid white;
}
