body{
    color:white;
    background-image:url("universe.jpg");
    background-size:cover;
    text-align:center;
    font-family:'Orbitron',sans-serif;
}
#main-logo{
    width:100px;
}

.apply-button{ 
  border-radius: 4px;
  background-color: #4d4747;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.apply-button:hover span{
    
     padding-right: 25px;
    background-color:#191970;
    
}
.apply-button:active{
    background-color:grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

}
.underline{
    border-bottom:4px solid white;
}
